.sign-up-root {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .button-container {
    padding-top: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    width: 20vw;
    .custom-button {
      padding: 1em 2em;
      width: fit-content;
      font-size: 1rem;
    }
  }
  .label-input {
    text-align: left;
    width: 25vw;
    font-size: 1.1rem;
  }
  .input-box {
    margin: 0.5em 0;
    width: 25vw;
    height: 2em;
  }
}
