@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-button {
    @apply bg-main-color hover:bg-gray-900 text-white transition-all duration-200 h-11
}
.google-button {
    @apply bg-blue-800 hover:bg-blue-900
}
.unselectable-text {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}